{% extends 'header.html' %}

{% block head %}


<title>Index</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12"  style="margin-bottom:20px;">
        <div class="row">
            <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                DEMO.
            </div>
            <div class="card-body">
        
                <h5 class="card-title">BLS</h5>
                <p class="card-text">The Bureau of Labor Statistics is a unit of the United States Department of Labor. It is the principal fact-finding agency for the U.S. government in the broad field of labor economics and statistics and serves as a principal agency of the U.S. Federal Statistical System</p>
                <a class="btn btn-success" target="_blank" href="https://github.com/midofemi?tab=repositories">Check Other Project by Amidu Kamara</a>
            </div>
        </div>
        </div>
        <div class="col-md-4">
            <img src="https://live.staticflickr.com/8561/16665261695_b434b42e18_k.jpg" alt="BLS" style="width:100%;height:100%">
            </div>


        </div>
        </div>
<div class="col-md-4 col-lg-4 col-sm-12">
<div class="card">
    <div class="card-header">
       View Logs
    </div>
    <div class="card-body">

        <h5 class="card-title">Log Files</h5>
        <p class="card-text">All model training log file can be downloaded.</p>
        <a class="btn btn-primary" href="/logs">Check Logs</a>
    </div>
</div>
</div>


<div class="col-md-4 col-lg-4 col-sm-12" style="margin-bottom:20px;">
    <div class="card">
        <div class="card-header">
           View Artifacts
        </div>
        <div class="card-body">
    
            <h5 class="card-title">Artifact Files</h5>
            <p class="card-text">All model artifacts file can be downloaded.</p>
            <a class="btn btn-primary" href="/artifact">Check Artifacts</a>
        </div>
    </div>
    </div>



    <div class="col-md-4 col-lg-4 col-sm-12"  style="margin-bottom:20px;">
        <div class="card">
            <div class="card-header">
               View Trained Models
            </div>
            <div class="card-body">
        
                <h5 class="card-title">Trained Models</h5>
                <p class="card-text">All model file can be downloaded.</p>
                <a class="btn btn-primary" href="/saved_models">Check Models</a>
            </div>
        </div>
        </div>

        
    <div class="col-md-4 col-lg-4 col-sm-12"  style="margin-bottom:20px;">
        <div class="card">
            <div class="card-header">
              Estimate California price
            </div>
            <div class="card-body">
        
                <h5 class="card-title">Access California estimator</h5>
                <p class="card-text">Form will be displayed. Submit the form to get estimated price for california house.</p>
                <a class="btn btn-primary" href="/predict">Get Estimated Price</a>
            </div>
        </div>
        </div>
 
        <div class="col-md-4 col-lg-4 col-sm-12"  style="margin-bottom:20px;">
            <div class="card">
                <div class="card-header">
                  Train housing estimator model.
                </div>
                <div class="card-body">
            
                    <h5 class="card-title">Initiate model training.</h5>
                    <p class="card-text">Model training will be done. Files such as log, artifact and models can be viewed and downloaded using appropriate link.</p>
                    <a class="btn btn-danger" href="/train">Initiate Training</a>
                </div>
            </div>
            </div>
        




            
</div>

{% endblock %}